# CUSTOM TRANSFORMERS AND PIPERLINES
---

### 1. Creating Data
Let's create a dataframe based on the equation:
$$
y = {x_1} + 2\sqrt{x_2}
$$
This makes sure a simple Linear Regression model won't be able to fit it

In [3]:
import pandas as pd

df = pd.DataFrame(columns=['X1', 'X2', 'y'], data=[
                                                   [1,16,9],
                                                   [4,36,16],
                                                   [1,16,9],
                                                   [2,9,8],
                                                   [3,36,15],
                                                   [2,49,16],
                                                   [4,25,14],
                                                   [5,36,17]
])

train = df.iloc[:6]
test = df.iloc[6:]

X_train = train.drop('y', axis=1)
y_train = train.y

X_test = test.drop('y', axis=1)
y_test = test.y

In [4]:
df

   X1  X2   y
0   1  16   9
1   4  36  16
2   1  16   9
3   2   9   8
4   3  36  15
5   2  49  16
6   4  25  14
7   5  36  17

In [5]:
X_train

   X1  X2
0   1  16
1   4  36
2   1  16
3   2   9
4   3  36
5   2  49

In [6]:
X_test

   X1  X2
6   4  25
7   5  36

In [7]:
y_train

0     9
1    16
2     9
3     8
4    15
5    16
Name: y, dtype: int64

In [8]:
y_test

6    14
7    17
Name: y, dtype: int64

Let's predict with `Linear Regression` to see what happens:

In [11]:
impo
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr_fit = lr.fit(X_train, y_train)
preds = lr_fit.predict(X_test)
print(f"\n{preds}")
print(f"RMSE: {np.sqrt(mean_squared_error(y_test, preds))}\n")

[13.72113586 16.93334467]

NameError: name 'np' is not defined